a {
  text-decoration: grey;
}
.Body {
  width: 100%;
  margin-top: 40px;
  display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  grid-template-columns: 25% 25% 25% 25%;
  div {
    border: white 5px solid;
    width: auto;
    height: 100px;
  }
}
@media (max-width: 700px) {
  .Body {
    grid-template-columns: 33% 33% 33%;
  }
}

@media (max-width: 400px) {
    .Body {
      grid-template-columns: 50% 50%;
    }
  }
  @media (max-width: 300px) {
    .Body {
      grid-template-columns: 100%;
    }
  }