.Searchbar {
  float: left;
 //10
 
  margin-left: 5%;
  width: 60%;
  overflow: hidden;
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left: 5px;
    font-size: 12px;
  }

  //--
  z-index: -1;
  .txtfld {
    box-shadow: 2px 2px #ece9e9;
    float: left;
    width: 70%;
    height: 18px;
    border-radius:0px ;
    border:  lightgrey 0.5px solid;
  }
 
  .sbtn {
    
    width: 38px;
    float: left;
    margin-right: 22%;
    background: white;
    border: lightgrey 0.5px solid;
    padding-bottom: 2px;
    padding-top: 3px;
    
    background: rgb(231, 224, 224);
    //border-radius: 2px;
    .sea{
       text-align: center;
       color: grey;
      
    }
  }
  .sbtn:hover{
    cursor: pointer;
    box-shadow: blue solid 1px;
    color: black;
    background: rgb(231, 224, 224);
  }
}
