.aboveSidebar {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(219, 218, 218);
  }
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: rgb(219, 218, 218);
  }
}
.Sidebar2 {
  transition: 0.2s;
  z-index: 1;
  border-top: solid white 5px;
  //nme is where button name is written
  .nme {
    padding-left: 13px;
    display: inline;
    color: black;
  }
  position: fixed;
  margin-top: 15px;
  overflow: scroll;
  width: 5.5%;
  height: 100%;
  top: 42px;
  .divs {
    border-bottom: 0.5px lightgray solid;
    .icon {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  button {
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 550;
    text-align: left;
    padding: 10px;
    text-decoration: none;
    color: black;
    background: white;
    width: 100%;
    border: none;
  }
  button:hover {
    cursor: pointer;
    background: rgb(241, 238, 238);
  }
  .selected {
    background: lightgray;
    color: red;
  }
  .selected:hover {
    background: lightgray;
  }
}

@media (max-width: 900px) {
  .Sidebar2 {
    width: 6.4%;
    z-index: 1;
  }
}

@media (max-width: 787px) {
  .Sidebar2 {
    .divs {
      .icon {
        margin-left: 2px;
        margin-right: 2px;
      }
    }
    button {
      font-size: 12px;
    }
  }
}

@media (max-width: 710px) {
  .Sidebar2 {
    .divs {
      .icon {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    button {
      font-size: 12px;
    }
  }
}
@media (max-width: 645px) {
  .Sidebar2 {
    width: 7.5%;
  }
}

@media (max-width: 584px) {
  .Sidebar2 {
    button {
      font-size: 11px;
    }
  }
}

@media (max-width: 545px) {
  .Sidebar2 {
    width: 8%;
  }
}
@media (max-width: 480px) {
  .Sidebar2 {
    width: 11%;
  }
}
@media (max-width: 360px) {
  .Sidebar2 {
    width: 13%;
  }
}
@media (max-width: 310px) {
  .Sidebar2 {
    width: 15%;
  }
}
@media (max-width: 275px) {
  .Sidebar2 {
    width: 17%;
  }
}
@media (max-width: 230px) {
  .Sidebar2 {
    width: 20%;
  }
}
