.aboveSidebar {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(219, 218, 218);
  }
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: rgb(219, 218, 218);
  }
}
.Sidebar {
  z-index: 1;
  border-top: solid white 5px;
  .nme {
    padding-left: 13px;
    display: inline;
    color: black;
  }
  position: fixed;
  margin-top: 15px;
  overflow: scroll;
  //grid-area: Sidebar;
  width: 18%;
  height: 100%;
  top: 42px;
  .divs {
    border-bottom: 0.5px lightgray solid;
    .icon {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  button {
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 550;
    text-align: left;
    padding: 10px;
    text-decoration: none;
    color: black;
    background: white;
    width: 100%;
    border: none;
  }
  button:hover {
    cursor: pointer;
    background: rgb(241, 238, 238);
  }
  .selected {
    background: lightgray;
    color: red;
  }
  .selected:hover {
    background: lightgray;
  }
}
