.App {
  text-align: center;
}

.everything {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
}

.everything .lefthalf {
  padding-top: 5px;
  border-top: 0.6px lightgrey solid;
  border-right: solid lightgrey 0.6px;
}

.everything .lefthalf .menutop .App-img {
  float: left;
  margin-left: 15px;
  width: 45px;
  height: 28px;
}

.everything .lefthalf .menutop .App-menu {
  float: left;
  margin-left: 20px;
  margin-top: 6px;
  width: 15px;
  height: 14px;
}

.everything .lefthalf .menutop .App-img:hover,
.everything .lefthalf .menutop .App-menu:hover {
  cursor: pointer;
}

.everything .lefthalf .sidebar {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  margin-top: 10px;
}

.everything .lefthalf .sidebar ::-webkit-scrollbar {
  width: 10px;
}

.everything .lefthalf .sidebar ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.everything .lefthalf .sidebar ::-webkit-scrollbar-thumb {
  background: #888;
}

.everything .lefthalf .sidebar ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.everything .righthalf {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  background: whitesmoke;
}

.everything .righthalf ::-webkit-scrollbar {
  width: 10px;
}

.everything .righthalf ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.everything .righthalf ::-webkit-scrollbar-thumb {
  background: #888;
}

.everything .righthalf ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.everything .righthalf .App-header {
  height: 50px;
  width: 100%;
  min-height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-top: auto;
  border-top: lightgrey solid 0.7px;
  border-bottom: lightgrey solid 0.7px;
  background: whitesmoke;
}

.everything .righthalf .main-body {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  color: black;
  border: grey solid 0.5px;
  /*
      display: grid;
      grid-template-columns: 20% 80%;
      grid-column-gap: 10px;
      grid-row-gap: 50px;
    */
  /* .main-item1 {
        display: inline-grid;
        border: grey solid 0.5px;
      }
      .main-item2 {
        display: inline-grid;
        border: grey solid 0.5px;
      }*/
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=App.css.map */