.App {
  text-align: center;
}

.App{
  display: block;  
  .header{
    border-bottom: lightgray solid 1px;
    border-top: 2px lightgray solid;
    background: white;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    width: 100%;
    z-index: 1;    
    }
}